@charset "utf-8";
html {
	height: 100%;	
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
	background-color: #FFFFFF;
	min-height: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0 0 100px;
	box-sizing: border-box;
	position: relative;
}
.header-container {
	width: 100%;
	background-color: black;
}
.header {
	height: 150px;
	width: 900px;
}
.content {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}
.footer a, a: link {
	color: #FFFFFF;
	text-decoration: none;
}
.footer a, a: visited {
	color: #FFFFFF;
	text-decoration: none;
}
.footer a, a: hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.footer {
	bottom: 0;
	height: 100px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	background-color: #333333;
	position: absolute;
}